<div class="m-4">
  <div class="border rounded-t-md">
    <div class="rounded-t-md bg-blue-600 p-2">
      <h2 class="text-white">Add a game</h2>
    </div>
    <div class="p-3 border-t-2">
      <form>
        <div class="mb-6">
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
          <input type="text" id="title" [formControl]="titleInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>

        <div class="mb-6">
          <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
          <textarea id="description" rows="16" [formControl]="descriptionInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
        </div>

        <div class="mb-6">
          <label for="steamid" class="block mb-2 text-sm font-medium text-gray-900">SteamId</label>
          <input type="number" id="steamid" [formControl]="steamIdInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>

        <button type="submit" (click)="submit()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
      </form>
    </div>
  </div>
</div>